/*h1, p, a{
    font-size:5vw;
}*/
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background: white;
    color: black;
  }
#fejlec {
    background:#ADD8E6;
    color: white;
    height: auto;
    font-size:35px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h4{
    padding:0;
    margin: 0;
    float: left;
    background: linear-gradient(to right, #f8f8f8, #35495e);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 28px;
    font-family:'Montserrat', sans-serif;
}

#udv {
    width:auto;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

#kijelentkezes{
    width:auto;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:right;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

#kijelentkezes a{
    color:white;
}

/* ------------- MENÜ FORMÁZÁS -------------------------------------*/
#menu {
    background:#F0F8FF;
    color: black;
    float: left;
    max-height: auto;

}


a{
    text-decoration: none;
    color:  rgb(0, 0, 0);;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    border-style: groove;
    border-width: 2px;
    border-color: white;
    padding: 5px;
    opacity :0.9;
    transition: opacity 0.15s;
    list-style-type: none;
    padding:25px;
}

li:hover{
    opacity: 1;
    background-color: rgba(231, 234, 238, 0.719);

}

/* --------------------- KÖZÉPSŐ MAPPA CONTAINER FORMÁZÁS-------------------*/

/*#mappak{
    display: inline-block;
}
.picContainer{
   
    height: 149.6px;
    width: 149.6px;
    /*display: inline-block;*/
   /* color: rgb(0, 0, 0);
    padding: 1px;
    margin: 1px;
    border-radius: 5%;
    text-align: center;
    transition: background-color 0.1s;
    position:right;
    float:right;
}
.picContainer:hover {
    background-color: rgba(123, 184, 238, 0.733);
    cursor: pointer;

}
.kijelolt{
    background-color: rgba(123, 184, 238, 0.733);
    cursor: pointer;
  }
img{
    max-width: 90%;
    height: 70%;
    padding: 0;
    margin: 7px;
    width:150px;
    float:center;

}
#divContainer{
    display: flex;
    flex-wrap: wrap;
}

#mappanév{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}*/

#folder-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .folder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    margin: 16px;
  }
  
  .folder img {
    width: 64px;
    height: 64px;
  }
  
  .folder p {
    margin-top: 8px;
    text-align: center;
    max-width: 100%;
    overflow-wrap: break-word;
  }

  .folder:hover,
  .folder.clicked {
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: 0.2s ease-in-out;
  }
  
  .folder.clicked {
    transform: scale(1.1);
  }
  
  .folder:hover p {
    color: #007bff;
  }

  .file {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    margin: 16px;
  }
  
  .file img {
    width: 64px;
    height: 64px;
  }
  
  .file p {
    margin-top: 8px;
    text-align: center;
    max-width: 100%;
    overflow-wrap: break-word;
  }

  .file:hover,
  .file.clicked {
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: 0.2s ease-in-out;
  }
  
  .file.clicked {
    transform: scale(1.1);
  }
  
  .file:hover p {
    color: #007bff;
  }


/* --------------------- selectálás törlés MAPPA FORMÁZÁS-------------------*/
.selected {
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: 0.2s ease-in-out;
   
}

/*-------------------------DROP ZONE------------------------------------------*/
#drop-zone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #bbb;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #bbb;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  #drop-zone:hover {
    border-color: #666;
    color: #666;
  }
  
  #drop-zone .drop-zone-icon {
    font-size: 50px;
    margin-bottom: 10px;
  }
  
  #drop-zone .drop-zone-text {
    text-align: center;
  }
  
  
  #upload-button {
    background-color: #ccc;
    color: white;
    border-radius: 50%;
    font-size: 2em;
    padding: 0.2em 0.35em;
    border: none;
    margin-top: 1em;
    cursor: pointer;
  }
  
  #upload-button:hover {
    background-color: #999;
  }

  /*-------------------------------------------Popup window-----------------------------------------------*/
  
  #popup-window {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  
}

#popup-window h2 {
  margin-top: 0;
}

#popup-window label {
  display: block;
  margin-bottom: 10px;
}

#popup-window input[type="email"] {
  display: block;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

#popup-window input[type="text"] {
  display: block;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

#popup-window button[type="submit"] {
  display: block;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
}


#media{
  float:center;
  margin-top: 10px;
  margin-right: 0px;
  width:165px;
  height:41px;
}
.fa {
  padding: 11px;
  font-size: 30px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  float:right;
  
}

.fa:hover {
  opacity: 0.7;
  float:right;
}

.fa-facebook {
background: #3B5998;
color: white;
}
.fa-instagram {
  background: #e40b91;
  color: white;
}

.fa-twitter {
background: #55ACEE;
color: white;
}
